@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #f8f8f8;
    --color-secondary: #fff;
    --color-typography: #000000;
  }
  @import "./themes/light.scss";
  @import "./themes/dark.scss";
  @import "./themes/blue.scss";
  @import "./themes/orange.scss";
  @import "./themes/purple.scss";
}

// components
@import "./components/Icon.scss";
